---
# By default egress traffic is not allowed, define below the ports allowed.
egress:
  - ports:
      - protocol: TCP
        port: 443
  - to:
      - podSelector:
          matchLabels:
            kubevirt.io: virt-launcher
      - ipBlock:
          cidr: 38.145.32.22/32
      - ipBlock:
          cidr: 38.145.32.23/32
    
ingress:
  - from:
      - podSelector:
          matchLabels:
            kubevirt.io: virt-launcher